$main_red : #9D0000;

.menuCategories{
    border-radius: 25px;
    border: 1px solid grey;
    width: 20vw;
    // Esto es la sombra
    -webkit-box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.75);

    // Padding y Margin
    padding: 15px;

    &__button{
        cursor: pointer;
        width: 100%;
        text-align: left;

        border: none;
        border-radius: 10px;
        background-color: transparent;

        color: $main_red;
        font-size: 24px;
        font-weight: bold;


        margin: 5px 0;
        padding: 5px 2px;

        transition: 0.1s;
        &:hover{
            font-size: 28px;
        }
    }
}